<footer class="navbar navbar-expand-sm navbar-dark bg-dark fixed-bottom align-items-center">
    <ul class="navbar-nav m-auto text-white">
        <li class="nav-item px-2">
            <p>©2019 | UiGrid Made with Love!</p>
        </li>
        <li class="nav-item px-2">
            <i class="fab fa-google"></i>
        </li>
        <li class="nav-item px-2">
            <i class="fab fa-facebook"></i>
        </li>
        <li class="nav-item px-2">
            <i class="fab fa-twitter"></i>
        </li>
        <li class="nav-item px-2">
            <i class="fab fa-youtube"></i>
        </li>
    </ul>
</footer>