<footer class="navbar navbar-expand-sm navbar-dark bg-dark fixed-bottom align-items-center">
    <ul class="navbar-nav m-auto text-white">
        <li class="nav-item px-2">
            <p>©2019 | UiGrid Made with Love!</p>
        </li>
        <li class="nav-item px-2">
            <i class="fab fa-google" aria-hidden="true"></i>
        </li>
        <li class="nav-item px-2">
            <i class="fab fa-facebook" aria-hidden="true"></i>
        </li>
        <li class="nav-item px-2">
            <i class="fab fa-twitter" aria-hidden="true"></i>
        </li>
        <li class="nav-item px-2">
            <i class="fab fa-youtube" aria-hidden="true"></i>
        </li>
    </ul>
</footer>
